.page {
  max-width: 1920px;
  margin: 0 auto;
}

body{
    font-family: "Noto Sans TC", sans-serif;
}

.content {
    width: 1296px;
    margin:auto
    
}

.navbar{
    display:flex;
    align-items: center;
    max-width:1296px;
    height:80px;
    margin: 0 auto;
    gap:40px;
}

.logo{
    box-sizing: border-box;
    font-display: mina;
    font-style: bold;
    font-weight:700;
    width:105px;
    height:30px;
    margin-right:40px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo,
.nav-text {
  display: flex;
  align-items: center;
  height: 24px;
  line-height: 24px;
  margin: 0;
  gap:40px;
}

.nav-text {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.person {
  margin-left: auto;
  font-size: 24px;
  cursor: pointer;
  width:18px;
  height:18px;
  padding-top:3px;
  padding-bottom: 3px;
  justify-content:flex-end;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.homepage{
    display: flex;
    gap: 60px;
    font-size: 16px;
    color: #6c757d;
    margin-top:  32px;

}

.subpage-head{
    width:117px;
    height:34px;
    font-weight:700;
    font-size:28px;

}

.all {
  width: 172px;
  height: 24px;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #57a203;
  margin-bottom:20px;
}

.page-left p {
  width: 172px;
  height: 24px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.product-list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;

  margin: 0;
  padding: 0;
  list-style: none;
}

.product-list li {
  width: 342.67px;
}

.product-list img {
  display: block;
  width: 100%;
  height: auto;
}

.product-list p {
  margin: 0;
}

.product-list img + p {
  margin-top: 12px;
  margin-bottom: 4px;
}

.layout{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:flex-start;
    margin-bottom:40px;

}


.pages {
  display: flex;
  justify-content: center;
  margin-top:  100px;

}

.pages li {
  width:10px;
}

.pages li:nth-child(2) {
  background-color: #c0fa73;
}

.discount-banner{
  display:flex;  
  align-items:center;
  justify-content: center;
  background-color:#e8fec5;
  gap:24px;

  height:96px;
  width:100%;
  margin-top:48px;
}

.discount-banner p {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  
}

.registra {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 115px;
  height: 48px;
  color: #fff;
  background-color: #212529;
  text-decoration: none;
}

.footer-logo {
    display:flex;
    align-items: center;
    justify-content: space-between;

    font-family: "Mina", sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    max-width: 1296px;
    margin:auto;
}

.footer-list {
  display: flex;
  align-items: center;
  gap: 40px;
  font-family: "Noto Sans TC", sans-serif;
  background-color: #f8f9fa;
}

.footer{
    
    padding:64px;
    background-color: #f8f9fa;
}

.copyright {
    background-color: #f8f9fa;
    color:gray;
    margin-bottom:20px;
    text-align: center;
    height:78px;
    font-size 14px;
    font-weight:400;
}